<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8"/>
        <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="index.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <title>Distributed Systems Course</title>
    </head>
    <body>
        <header>
        <h1>Chat room for Distributed Systems class</h1>
        </header>

        <section>
            <div id="change_username">
            <input id="username" type="text" />
            <button id="send_username" type="button">Change username</button>
            </div>
        </section>

        <section id="chatroom">
        <section id="feedback"></section>
        </section>

        <section id="input_zone">
            <input id="message" class="vertical-align" type="text" />
            <button id="send_message" class="vertical-align"type="button">Send</button>
        </section>
        
 <!-- <script src="http://code.jquery.com/jquerylatest.min.js"></script> -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
 <script src="public/chat.js"></script>
    </body>
</html>